<span class="close">X</span>
<ion-grid>
  <ion-row>
    <ion-col>
      <h2>Recuperar senha</h2>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <p>Informe seus dados: </p>
      <form class="forgotPassForm">
          <ion-item>
            <ion-input type="tel" placeholder="Digite sua matrícula"  name="registry" class="form-control"></ion-input>
          </ion-item>
          <ion-item class="mt-2" >
              <ion-input type="tel" placeholder="Digite seu CPF"  name="password" class="form-control mask-text"></ion-input>
          </ion-item>
          
          <ion-button type="submit" color="primary" size="large" expand="block">Enviar</ion-button>
          
      </form>

    </ion-col>


  </ion-row>

</ion-grid>

