.logo {
    //width: 35vw;
    margin: 10px 25px;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-flex;
    width: 300px;
    height: 300px;

}

.txt-center {
    text-align: center;
}

.aboutDiv{
    margin: 0px 10px;
    padding: 0px 40px 15px 40px;
}

.settingsDiv {
    text-align: end;

    ion-button {
        margin-right: -14px;
        margin-top: 15px;
    }
}
