<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
      
      <ion-title>Sobre o sistema</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>

      <ion-row>
          <ion-col>
              <ion-img src="../../../assets/logo_vertical.png" class="logo"></ion-img>
          </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="aboutDiv">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia facere quasi incidunt, 
              facilis exercitationem necessitatibus hic aspernatur ipsam quos saepe ipsa, illo, culpa officiis quae dolor a?
              Illo, quod repellendus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dolorum similique vel, blanditiis 
              doloremque magni sint tenetur labore veritatis est aliquam maiores eius voluptate possimus corporis! Iusto ea illum placeat?
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia facere quasi incidunt, 
              facilis exercitationem necessitatibus hic aspernatur ipsam quos saepe ipsa, illo, culpa officiis quae dolor a?
              Illo, quod repellendus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dolorum similique vel, blanditiis 
              doloremque magni sint tenetur labore veritatis est aliquam maiores eius voluptate possimus corporis! Iusto ea illum placeat?
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia facere quasi incidunt, 
              facilis exercitationem necessitatibus hic aspernatur ipsam quos saepe ipsa, illo, culpa officiis quae dolor a?
              Illo, quod repellendus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dolorum similique vel, blanditiis 
              doloremque magni sint tenetur labore veritatis est aliquam maiores eius voluptate possimus corporis! Iusto ea illum placeat?
            </p>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>

</ion-content>
