<ion-app>

    <ion-menu>
      <ion-header>
        <ion-toolbar class="lightBg">
          <ion-title class="noPad">
            <div id="profile">
         
              <span class="name">João Paulo Queiroz</span><br/>
              <span class="registry">168752</span>
            
          </div>
          </ion-title>
        </ion-toolbar>
      </ion-header>


      <ion-content>

        <!-- <div id="profile">
         
            <span class="name">João Paulo Queiroz</span><br/>
            <span class="registry">168752</span>
          
        </div> -->
       
        <ion-list>

          <div>
              <ion-item [routerDirection]="'root'" [routerLink]="['/dashboard/Mapa']">
                <!-- <ion-icon slot="start" [name]="p.icon"></ion-icon> -->
                <ion-label class="fatherItemLbl">
                  Dashboard
                </ion-label>
              </ion-item>
            </div>

          <div *ngFor="let p of appPages" >
            
          
          <!-- Standard Menu Item -->
          <ion-menu-toggle auto-hide="false" *ngIf="p.url">
            
              <ion-item [routerDirection]="'root'" [routerLink]="['/'+p.url]">
                <ion-icon *ngIf="isAlerted(p.id)" src="../assets/icon/alert.svg" class="alertedIcon"></ion-icon>
                <ion-label class="fatherItemLbl">
                  {{p.title}}
                </ion-label>
              </ion-item>

          </ion-menu-toggle>

          <!-- Item with Children -->
          <ion-item button *ngIf="p.children?.length > 0" (click)="p.open = !p.open" [class.parent-active]="p.open" detail="false">
            <ion-icon *ngIf="childrenWithAlert(p.children)" src="../assets/icon/alert.svg" class="alertedIcon" ></ion-icon>
            <ion-icon slot="end" name="arrow-up" *ngIf="p.open"></ion-icon> 
            <ion-icon slot="end" name="arrow-down" *ngIf="!p.open"></ion-icon> 
            <!-- <ion-icon slot="start" [name]='p.icon'></ion-icon> -->
            <ion-label class="fatherItemLbl">{{ p.title }}</ion-label>
          </ion-item>

          <!-- Children List for clicked Item -->
          <ion-list *ngIf="p.open" class="noPad">
              <ion-menu-toggle>
                <ion-item *ngFor="let sub of p.children" class="sub-item" [routerLink]="['/'+sub.url]" routerDirection="root"  routerLinkActive="active" >
                  <ion-icon *ngIf="isAlerted(sub.id)" src="../assets/icon/alert.svg" class="alertedIcon" ></ion-icon>
                  <ion-label>
                    {{ sub.title }}
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>

            
          
          </div>

          <div>
            <ion-item [routerDirection]="'root'" (click)="logout()">
              <!-- <ion-icon slot="start" [name]="p.icon"></ion-icon> -->
              <ion-label class="fatherItemLbl">
                Sair
              </ion-label>
            </ion-item>
          </div>
        </ion-list>
      
     
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>

</ion-app>
